html {
	box-sizing: border-box;
}

*,
:before,
:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

pre {
	text-align: left;
}

#app {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

:any-link {
	color: inherit;
}

.button,
button {
	height: 2em;
	padding: 0.25em 1.275em;
	margin: 0.5em;
	display: inline-block;
	border-radius: 5px;
	background: linear-gradient(to right, #16c0b0, #84cf6a);
	font-family: inherit;
	font-size: inherit;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	border: none;
	outline: none;

	transition: filter 280ms ease-out, transform 280ms ease-out;
	transform-origin: left top;
}

.button:disabled,
button:disabled {
	cursor: default;
	filter: saturate(0.66);
	transform: rotate(12deg);
}

form {
	width: 15em;
	margin: 0 auto 2em;
}

.error-message {
	color: red;
}

.input-group {
	margin-bottom: 1em;
	text-align: left;
}

label {
	display: inline-block;
	margin-bottom: .25rem;
	font-weight: 500;
}

input {
	display: block;
	width: 100%;
	padding: 0.5em;
	font: inherit;
	color: inherit;
	border: 2px solid hsl(210deg 9% 44%);
	border-radius: 4px;
}

input:invalid {
	border-color: hsl(333deg 88% 51%);
	outline-color: hsl(333deg 88% 51%);
}

.input-error-message {
	font-size: .75em;
	color: red;
}
